@import 'resets/variables' ;
@import 'resets/mixins' ;
@import 'resets/reset' ;
@import 'comp/box' ;

@import 'comp/two-way-chang' ;

.main{
	width:100%;
	min-height: 100vh;
	@include flex();
	position: relative;
	background: $black;
	color:#fff;
  flex-direction: column;
  overflow-x: hidden;
}
.header{  
  width: 100%;
  position: relative;
  height:4rem;
  &__link{
     background: #fff;
     position: absolute;
      width:10rem;
      height:10rem;
      display:flex;
      align-items: flex-end;

      border-radius: 5rem;
      right:-3rem;
      top:-3rem;
      a{
        margin:1rem 0 .6rem 1rem;
      }
  }
}

.btn {
  margin: 0.8rem;
  font-size: 1.4rem;
  min-width: 64px;
  padding: .6rem 2rem;
  text-transform: uppercase;
  border-radius: 4px;
  letter-spacing: 0.05857em;
  font-family: $mont;
  background: transparent;
  position: relative;
  border: 1px solid;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
   &--contained {
   	&-primary {
      @include contained($primary, $white,#333eab);
    }
}
}